{% if book %}
    <ul>
    {% for b in book %}
        <tr id = {{ book.ISBN }} class="goods_list">
            <td>{{ book.ISBN }}</td>
            <td>{{ book.BookName }}</td>
            <td>{{ book.BookAuthor }}</td>
            <td>{{ book.BookNum }}</td>
            <td>{{ book.BookPrice }}</td>
            <td>{{ book.PublishDate }}</td>
            <td>{{ book.ShelfDate }}</td>
            <td>{{ book.BookInformation }}</td>
        </tr>
    {% endfor %}
    </ul>
{% else %}
    <p>No books are available.</p>
{% endif %}